<h1>Word Adder</h1>
<div>


<form method="post" action="/home">
  <label for="word">
  <input name="word" id="word" class="form-control">
  <button class="btn" type="submit">Add Word</button>
</form>
</div>